<%= form_for(@bag) do
    |f| %>
<table>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Number</th>
    <td><%= f.text_field(:number) %></td>
  </tr>
  <tr>
    <th>Details</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
</table>

<%= f.submit("Submit") %>
<% end %>
